<%- include('../partials/_header.ejs') %>
<div class="row mt-25">
    <div class="col-md-6 m-auto">
<div class="card border-primary mb-3" style="max-width: 50rem;" text-center>
    <div class="card-header">Adicionar Um Novo Pedido</div>
    <div class="card-body">
        <div class="form-group" style="max-width: 30rem;">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Digite o nome do cliente">
        </div>
        <div class="form-group" style="max-width: 30rem;">
            <label for="id">Pedido:</label>
            <input type="text" class="form-control" id="id" aria-describedby="id" placeholder="Digite o número do pedido">
        </div>
        <label for="guiche">Guichê:</label>
        <div class="btn-toolbar" role="toolbar" aria-label="guiche">
            <div class="btn-group mr-2" role="group" aria-label="guiche">
                <button type="button" class="btn btn-outline-primary btn-lg">1</button>
                <button type="button" class="btn btn-outline-primary btn-lg">2</button>
                <button type="button" class="btn btn-outline-primary btn-lg">3</button>
                <button type="button" class="btn btn-outline-primary btn-lg">4</button>
              </div>
        </div>
        <div><br>
        <button type="button" class="btn btn-primary btn-lg" text-center>Adicionar Pedido</button>
        </div>
</div>
</div>
</div>

