<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"><h3><i class="fas fa-people-arrows"></i> Fila App</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Início
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pedidos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/pedidos/controle">Painel de Pedidos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/pedidos/add">Adicionar Pedido</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configurações</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/settings/config">Configurações da Conta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br>