<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/_header.ejs') %>
<div class="row mt-25">
    <div class="col-md-6 m-auto">
<div class="card border-primary mb-3" style="max-width: 50rem;" text-center>
    <div class="card-header">Senhas</div>
    <div class="card-body">
        <div class="form-group" style="max-width: 30rem;">
            <label for="name">Senha Atual:</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Digite sua senha atual">
        </div>
        <div class="form-group" style="max-width: 30rem;">
            <label for="id">Nova Senha:</label>
            <input type="text" class="form-control" id="id" aria-describedby="id" placeholder="Digite sua nova senha">
        </div>
        <div class="form-group" style="max-width: 30rem;">
            <label for="id">Confirmar Senha:</label>
            <input type="text" class="form-control" id="id" aria-describedby="id" placeholder="Digite sua nova senha novamente">
        </div>
        <div><br>
        <button type="button" class="btn btn-primary btn-lg" text-center>Salvar</button>
        </div>
</div>
</div>
</div>



</body>
</html>