<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/_header.ejs') %>
<div class="row mt-25">
    <div class="col-md-6 m-auto">
<div class="card border-primary mb-3" style="max-width: 50rem;" text-center>
    <div class="card-header">Configurações Da Conta</div>
    <div class="card-body">
            <a href="/configuracao/senha" class="card-link">Trocar Senha</a><br><br>
            <a href="/configuracao/guiche" class="card-link">Definir Guichês</a><br><br>
            <a href="/users/logout" class="card-link">Sair</a>
    </div>
</div>
</div>
</div>



</body>
</html>