<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/style-global.css'>
    <link rel="stylesheet" href='/stylesheets/style-painel.css'>
    <title>Painel de senhas</title>
</head>
<body>
    <header>
        <h1>Painel de senhas</h1>
    </header>

    <main>
        <div class="chamada-atual">
            <form action="">
                <label for="pedido">Pedido: </label>
                <label for="pedido-chamada"> 21</label>

                <label for="guiche">Guichê</label>
                <label for="guiche-chamada">1</label>
            </form>
        </div>

        <div class="ultimas-chamadas">
            <table class="tabela">
                <thead>
                    <th>Pedido</th>
                    <th>Guiche</th>
                </thead>
               <tr>
                   <td>23</td>
                   <td>1</td>
               </tr>  
               <tr>
                <td>24</td>
                <td>1</td>
            </tr>  
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>
            Dia 29/03/2021 Hora: 23:10
        </p>
    </footer>

</body>
</html>