<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/style-global.css'>
    <link rel="stylesheet" href='/stylesheets/style-resultado.css'>
    <title>Resultado pedido</title>
</head>
<body>
    <ul class="numero-pedido">
        <li><%= numeroPedido %></li>
        <li><%= posicaoFila %></li>
        <li><span class="icone-lista"><img src="/image/relogio.png" alt=""></span><%= tempoMedio %></li>
    </ul>

</body>
</html>