body{
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
    border-top: 5em solid coral;
    border-left: 2em solid transparent;
    height: 0;
    width: 20%;
    margin-left: auto;
    position: relative;
}

.info p{
    position: absolute;
    bottom:0;
    right: 10%;
    font-size: 1.6em;
}

.info p:first-child {
    color: white;
    font-size: 2.2em;
    font-weight: 300;
    padding-right: 2%;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin: 0;
}

.main-painel{
    display: flex;
    flex-direction: column;
    height: 89%;
    justify-content: space-between;
}

.chamada{
    display: flex;
    justify-content: space-between;
}

.senha-atual{
    width: 80%;
}

.senha-atual p{
    color: blue;
    font-size: 6em;
    margin-left: 5%;
    margin-bottom: 0;
}

.senha-atual h1{
    font-size: 13em;
    color: black;
    text-align: center;
}

.guiche-atual{
    align-self: center;
    margin-right: 10%;
}

.guiche-atual p{
    color: blue;
    font-size: 6em;
    font-weight: 300;
}

.guiche-atual h2{
    font-size: 8em;
    color: black;
    text-align: center;
}

.ultimas-chamadas {
    border-top: 5px solid black;
    display: flex;
    flex-direction: row;
}

.ultimas-chamadas ul{
    list-style: none;
}

.ultimas-chamadas ul li:first-child{
    font-size: 3em;
    color: black;
}

.ultimas-chamadas ul li{
    color: blue;
    font-size: 1.5em;
}

