body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-grow: 3;
}

.chamada-atual, .ultimas-chamadas{
    width: 60%;
    height: 60%;
    border: 5px solid black;
}

footer{
    color: whitesmoke;
    background-color: black;
}
