body{
    background-color: coral;
}

.numero-pedido{
    list-style: none;
}

.numero-pedido li{
    box-sizing: border-box;
    display: block;
    width: 30%;
    height: 30%;
    background-color: white;
    padding: 20px;
    margin: 1%;
    font-size: 2em;
    font-weight: 800;
}

.icone-lista{
    display: inline-block;
    height: 90%;
    width: 15%;
    padding: 10px;
    border-right: 1px solid black;
}

.icone-lista img{
    width: 100%;
}