.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form .tittle {
  color: coral;
}

.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.btn,
.form button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 2px solid coral;
  padding: 15px;
  color: coral;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
}

.btn:hover,
.form button:hover {
  background: coral;
  color: white;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.form .message a {
  color: coral;
  text-decoration: none;
}

body {
  background: coral;
  font-family: sans-serif;     
}

.filaAppLogo {
   width: 180px;
}