.conteudo-principal{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.controle{
    display: flex;    
    justify-content: space-around;
}

.grafico{
    width: 50%;
    height: 60%;
}

.table{
    width: 100%;
    font-size: 1.1em;
    font-family: sans-serif;
    text-transform: capitalize;
    margin: auto;
}

.table thead{
    background-color: lightgray;
    border: 1px solid lightgray;
    padding: 2%;
}

.table tbody{
    border-bottom: 1px solid lightgray;
    padding: 2%;
}

.table th, td{
    padding: 0.4em 1.1em;
}

.acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    cursor: pointer;
}

.card-acao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-acao img{
    width: 30%;
}

.addPedidoLink, .controleFilaLink, .alterarGuicheLink {
    color: coral;
}

.headerLogo {
    width: 5%;
    height: 60%;
}

@media only screen and (max-width: 1200px) {
    .controle{
        flex-direction: column;
        justify-content: space-between;
    }
} 
