body{
    height: 100vh;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo{
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo h1{
    font-family: 'Raleway',sans-serif; 
    font-size: 50px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
}

.fundo a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.meio{
    width: 100%;
    height: 100%;
    display: flex;
}

.busca-codigo{
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.busca-codigo input{
    border-radius: 5%;
}

.busca-codigo button{
    margin-top: 2%;
    border: 0;
    width: 60%;
    height: 10%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: center;
    border-radius: 5%;
    background-color: coral;
    cursor: pointer;
    transition: all 0.5s ease;
}

.busca-codigo button:hover{
    background-color: lightgray;
    border: 0;
}

.busca-qrcode{
    display: block;
    width: 50%;
    height: 100%;
}

.busca-qrcode a{
    text-transform: none;
}

.busca-qrcode h2{
    text-align: center;
}

.busca-qrcode span{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.busca-qrcode span img{
    width: 90%;
    margin: 2% auto;
}

@media only screen and (max-width: 450px) {
    .meio {
        flex-direction: column;
        align-items: center;
    }

    .busca-codigo button{
        width: 100%;
    }
} 