.conteudo-principal{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.grafico{
    width: 100%;
    height: 60%;
}

.acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    cursor: pointer;
}

.card-acao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-acao img{
    width: 30%;
}

.addPedidoLink, .controleFilaLink, .alterarGuicheLink {
    color: coral;
}

.headerLogo {
    width: 5%;
    height: 60%;
}