<%- include('../partials/_header.ejs') %>
<div class="row mt-25">
    <div class="col-md-6 m-auto">
<div class="card border-primary mb-3" style="max-width: 50rem;" text-center>
    <div class="card-header">Configurações Da Conta</div>
    <div class="card-body">
            <a href="/settings/password" class="card-link">Trocar Senha</a><br><br>
            <a href="/settings/guiches" class="card-link">Definir Guichês</a><br><br>
            <a href="/users/logout" class="card-link">Sair</a>
    </div>
</div>
</div>
</div>

