<%- include('../partials/_header.ejs') %>
<div class="row mt-25">
    <div class="col-md-6 m-auto">
<div class="card border-primary mb-3" style="max-width: 50rem;" text-center>
    <div class="card-header">Guichês</div>
    <div class="card-body">
        <div class="form-group" style="max-width: 30rem;">
            <label for="name">Quantidade de guiches no estabelecimento:</label>
            <div>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">6</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">7</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">8</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">9</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">10</a>
                  </li>
                </ul>
              </div>
        </div>
        <div><br>
        <button type="button" class="btn btn-primary btn-lg" text-center>Salvar</button>
        </div>
</div>
</div>
</div>

