<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/style-global.css'>
    <link rel="stylesheet" href='/stylesheets/style-painel.css'>
    <title>Painel de senhas</title>
</head>
<body>
    <header>
        <h1>Fila App</h1>
        <div class="info">
            <p>Hora: 23:10</p>
            <p>Dia 29/03/2021</p>
        </div>
    </header>

    <main class="main-painel">
        <div class="chamada">
            <div class="senha-atual">
                <p>Fila (Nome da loja)</p>
                <h1>0008</h1> 
            </div>
            <div class="guiche-atual">
                <p>Guichê</p>
                <h2>1</h2>
            </div>
        </div>

        <div class="ultimas-chamadas">
            <ul>
                <li>7</li>
                <li>Guichê: 1</li>
            </ul>
            <ul>
                <li>6</li>
                <li>Guichê: 1</li>
            </ul>
        </div>
    </main>

</body>
</html>