<link rel="stylesheet" href='/stylesheets/style-modal.css'>
<form>
    <div>
        <h3 class="tittleAddPedido">Adicionar um novo pedido:</h3>
    </div>
    <div>
        <input class="inputAddPedido" type='text' id='nome' placeholder="Digite aqui o nome do cliente"/><br><br>
    </div>
    <div>
        <input class="inputAddPedido" type='text' id='pedido' placeholder="Digite aqui o número do pedido" />
    </div>
    <div>
        <label for='guiche'>Guichê:</label>
        <button class="guicheBtnAddPedido">1</button>
        <button class="guicheBtnAddPedido">2</button>
        <button class="guicheBtnAddPedido">3</button>
        <button class="guicheBtnAddPedido">4</button>
    </div>
        <button class="adicionarPedidoBtn">Adicionar Pedido</button>
    <div>

    </div>
</form>