<table>
    <thead>
      <tr>
        <th scope="col">Pedido:</th>
        <th scope="col">Nome:</th>
        <th scope="col">Guichê:</th>
        <th scope="col">Ações:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0010</td>
        <td>Willian Fernandes</td>
        <td>1</td>
        <td>
            <button type="button">Chamar</button>
            <button type="button">Finalizar</button>
        </td>
      </tr>
      <tr>
        <td>0011</td>
        <td>Luiz Guilherme</td>
        <td>2</td>
        <td>
            <button type="button">Chamar</button>
            <button type="button">Finalizar</button>
        </td>
      </tr>
      <tr>
        <td>0012</td>
        <td>Leandro</td>
        <td>3</td>
        <td>
            <button type="button">Chamar</button>
            <button type="button">Finalizar</button>
        </td>
      </tr>
      <tr>
        <td>0013</td>
        <td>Patrick</td>
        <td>4</td>
        <td>
            <button type="button">Chamar</button>
            <button type="button">Finalizar</button>
        </td>
      </tr>
      
    </tbody>
  </table>