<script src="/javascripts/controle.js"></script>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Pedido</th>
        <th scope="col">Nome</th>
        <th scope="col">Guichê</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>0010</td>
        <td>Willian Fernandes</td>
        <td>1</td>
        <td>
            <button type="button" class="btn btn-outline-success">Chamar</button>
            <button type="button" class="btn btn-outline-primary">Finalizar</button>
        </td>
      </tr>
      <tr class="table-light">
        <td>0011</td>
        <td>Luiz Guilherme</td>
        <td>2</td>
        <td>
            <button type="button" class="btn btn-outline-success">Chamar</button>
            <button type="button" class="btn btn-outline-primary">Finalizar</button>
        </td>
      </tr>
      <tr class="table-light">
        <td>0012</td>
        <td>Leandro</td>
        <td>3</td>
        <td>
            <button type="button" class="btn btn-outline-success">Chamar</button>
            <button type="button" class="btn btn-outline-primary">Finalizar</button>
        </td>
      </tr>
    </tbody>
  </table>